blackhole
downloads
jackett
jellyfin
movies
plex
prowlarr
qbittorrent
radarr
sonarr
transmission
lidarr
overseerr
bazarr
readarr
books
download-client-downloads
music
tv
jellyseerr
.env
.DS_Store
gluetun
config
data